<h1>Bug Tracker</h1>
<bug-stats [data]="bugs"></bug-stats>
<section class="sort">
    <label for="">Order By :</label>
    <input type="text" name="" id="">
    <label for="">Descending ? :</label>
    <input type="checkbox" name="" id="">
</section>
<bug-edit (onNewBug)="onSaveClick($event)"></bug-edit>
<section class="list">
    <ol>
        <li *ngFor="let bug of bugs">
            <span class="bugname" [ngClass]="{closed : bug.isClosed}" (click)="onBugClick(bug)">{{bug.name | trimtext:40 }}</span>
            <div class="datetime">{{ bug.createdAt }}</div>
        </li>
   </ol>
    <input type="button" value="Remove Closed" (click)="onRemoveClosedClick()">
</section>

