/deep/ section{
    margin-bottom: 10px;
}
/deep/ .closed{
    color : red;
    font-weight: bold;
    text-decoration: line-through;
    font-style: italic;
}
/deep/ .stats, .bugname{
    font-size: 22pt;
}
/deep/ .bugname{
    cursor: pointer;
}
/deep/ ol{
    list-style: none;
    width: 500px;
}
/deep/ li{
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: #e7e7e7;
    border : 1px solid gray;
}
/deep/ .datetime{
    font-style: italic;
    font-size: small;
}

